@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911:400,700");
@font-face {
    font-family: 'chunkfiveroman';
    src: url('ChunkFive/chunkfive-webfont.woff2') format('woff2'),
         url('ChunkFive/chunkfive-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

body {
  font-family: "Goudy Bookletter 1911", "EB Garamond",  Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
}
h1, h6, .h1, .h6 {
  font-family: "chunkfiveroman", "Cinzel", "cinzel_decorativebold", serif;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

.navbar {
  font-size: 18px;
  font-family: "chunkfiveroman", "Cinzel", 'cinzel_decorativebold', "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  background: white;
}
.navbar-default .badge {
  background-color: #000;
  color: #fff;
}
.navbar-inverse .badge {
  background-color: #fff;
  color: #990033;
}
.navbar-brand {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar .container {
    width: 70%;
}
.jumbotron h6 {
  font-family: "chunkfiveroman", "Cinzel", 'cinzel_decorativebold', "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #000;
}

